# Flask-related dependencies
Flask==3.1.0
Werkzeug==3.1.3
Jinja2==3.1.4
itsdangerous==2.2.0
click==8.1.7
MarkupSafe==3.0.2
blinker==1.9.0

# Data handling and processing
numpy==2.1.3
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2024.2

# Machine learning and deep learning
torch==2.0.1+cpu
torchvision==0.15.2+cpu
ultralytics==8.3.38
-f https://download.pytorch.org/whl/torch_stable.html

# Computer vision
opencv-python==4.10.0.84
pillow==11.0.0
pytesseract==0.3.13

# Visualization
matplotlib==3.9.2
seaborn==0.13.2

# Utilities
requests==2.32.3
tqdm==4.67.1
colorama==0.4.6

# Debugging and development
debugpy==1.8.9
ipykernel==6.29.5
ipython==8.29.0
stack-data==0.6.3
traitlets==5.14.3
jedi==0.19.2
parso==0.8.4
Pygments==2.18.0
nest-asyncio==1.6.0

# Others
scipy==1.14.1
setuptools==75.6.0
six==1.16.0
urllib3==2.2.3
tzdata==2024.2
pyzmq==26.2.0
filelock==3.16.1
platformdirs==4.3.6
packaging==24.2
typing_extensions==4.12.2
